$primaryColor: #1e88e5;
$secondaryColor: #bbc2ca;
$fontColor: #ccd0d6;
$gutter: 2%;
$gutterdbl: (2 * $gutter);
$defaultFont: 'Lato', sans-serif;
$lightWeight: 300;
$normalWeight: 400;
$boldWeight: 700;
$padding-space: 5em;
// length of each slide in seconds
$animation-delay: 6s;